.container {
    background:#a6d9d9;
    padding: 15px 20px;
}

.hidden {
    display: none;
}

header {
    margin:auto;
    background: #c04b82;
    height: 140px;
    align-items: center;
    display: flex;
    padding: 20px;
    img{
        background: white;
        width: 300px;
    }
}

ul, ol {
    list-style:none;
}

nav{
    background: #f2a03d;
    height: 80px;
    margin:15px 0px;
    display: flex;
    align-items: center;
}

.navegador {
    > li {
        float:left;
    }
}



.navegador {
    li{
        a {
            
            color:black;
            text-decoration:none;
            padding:10px 12px;
            display:block;
        }
    }
}
.navegador {
    .menuJSON{
        li{
            background: black;
            a{
                color:white;
            }
        } 
    }
    .menuPHP{
        ul{
            background: black;
        }
    }
}


.navegador {
    li {
        color:white;
        ul {
            display:none;
            position:absolute;
            min-width:140px;
            color:white;
        }
    }

}

.navegador {
    li:hover {
        > ul {
            display:block;
        }
    }
}

.navegador {
    li {
        ul {
            li {
                position:relative;
            }
        }
    }
}

.navegador {
    li {
        ul {
            li {
                ul {
                    right:-140px;
                    top:0px;
                }
            }
        }
    }
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    .aside{
        background: red;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 290px; 
    }
    .hover{
        background-color: #d0f29b;
        transition-duration: .25s;
        transition-property: background-color;
        transition-timing-function: ease-in-out;
    }
    .producto{
       background: #f28c8d; 
       height: 300px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
   

}
@media screen and (max-width: 1000px) {
    main{
        grid-template-columns: 1fr;
        .aside{
          width: 100%;
        }
    }
    
}